<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.FPGA.VCU118.VERIF.00</name>
  <description>FPGA Builds</description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>0</inDemandDelay>
    <idleDelay>1</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.FPGA.VCU118.VERIF.00 \
JENKINS_AGENT_SLURM_CLUSTER=testbed \
JENKINS_AGENT_SLURM_PARTITION=boardtest \
JENKINS_AGENT_MEM=6GB \
JENKINS_AGENT_CPUS_PER_TASK=4 \
JENKINS_AGENT_SLURM_CONSTRAINT=&quot;testboard_vcu118_taiwansd|testboard_vcu118_nosd&quot; \
JENKINS_AGENT_SALLOC_ACCOUNT=verif \
JNLP_SECRET=452e857b4552697e482b9d1529dfa938cf62198c95854af410ec44a36a6d632f \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
~/jenkins-utils/tools/jenkins-agent-salloc-tiny.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>verif-vcu118</label>
  <nodeProperties/>
</slave>