<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SYSSW.FUSDK.PUBLIC.LARGE.000</name>
  <description>System Software FUSDK (public) build node</description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>0</inDemandDelay>
    <idleDelay>10</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SYSSW.FUSDK.PUBLIC.LARGE.000 \
JNLP_SECRET=ddd3cbfc4e91a480b6011e979aa1d1a882a8795a9e95473060eef24d9f5a1c3d \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
~/jenkins-utils/tools/jenkins-agent-salloc-swsys-fusdk-large.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>syssw-fusdk-build</label>
  <nodeProperties/>
</slave>