<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SMALL.020</name>
  <description></description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>1</inDemandDelay>
    <idleDelay>2</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SMALL.020 \
JNLP_SECRET=f0224c1cce073574b8b6946e8e47774f8eff0622b1fa81a1b156555366088d1e \
JENKINS_AGENT_SLURM_PARTITION=redhat \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
~/jenkins-utils/tools/jenkins-agent-salloc-small.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>nightly_small_agent_rhel8 perf_corr_rhel8 score_guard_rhel8 toolchain_ci_rhel8</label>
  <nodeProperties/>
</slave>