<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>SYNC_ONLY</string>
        <string>QEMU_CONFIG_JSON</string>
        <string>QEMU_TESTS</string>
        <string>FPGA_TESTS</string>
        <string>FUSDK_MACHINE_FILTER</string>
        <string>FPGA_CONFIG_JSON</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>FUSDK_MACHINE_FILTER</name>
          <description>To-be-test FUSDK machines</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>all</string>
              <string>qemuriscv64</string>
              <string>sifive-fpga</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>FPGA_CONFIG_JSON</name>
          <defaultValue>[
	    { "release": "narwhal", "version": "GR03", "core": "u74mc",  "path_to_bitstream": "/work/cx/releases/narwhal/narwhal.03.00-general/rc0/standard/full", "bootRom_ID": 7},
            { "release": "narwhal", "version": "GR03", "core": "p550mc", "path_to_bitstream": "/work/cx/releases/narwhal/narwhal.03.00-general/rc0/standard/full", "bootRom_ID": 8},
            { "release": "narwhal", "version": "GR03", "core": "p270mc", "path_to_bitstream": "/work/cx/releases/narwhal/narwhal.03.00-general/rc0/standard/full", "bootRom_ID": 9},
            { "release": "narwhal", "version": "GR03", "core": "x280mc", "path_to_bitstream": "/work/cx/releases/narwhal/narwhal.03.00-general/rc0/standard/full", "bootRom_ID": 10},
            { "release": "narwhal", "version": "GR03", "core": "u64mc",  "path_to_bitstream": "/work/cx/releases/narwhal/narwhal.03.00-general/rc0/standard/full", "bootRom_ID": 11}
]</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>QEMU_CONFIG_JSON</name>
          <defaultValue>[
    { "release": "narwhal", "core": "p550mc", "machine": "sifive_fpga,msel=2,bootrom-id=8,sifive-internal=on", "cpu": "rv64,x-b=true,x-h=true,sscof=true,pmu=29", "boot": "sd", "smp": "2", "options": "" },
    { "release": "narwhal", "core": "p270mc", "machine": "sifive_fpga,msel=2,bootrom-id=9,sifive-internal=on", "cpu": "rv64,v=true,vlen=256,elen=64,vext_spec=v1.0,x-b=true,Zfh=true,x-h=true,sscof=true,pmu=29", "boot": "sd", "smp": "2", "options": "" },
    { "release": "narwhal", "core": "x280mc", "machine": "sifive_x280_rtl_rev2,msel=2,bootrom-id=10", "cpu": "rv64,v=true,vlen=512,elen=64,vext_spec=v1.0,x-b=true,x-xsfvqmaccqoq=true,x-xsfvfhbfmin=true,Zfh=true,x-xsfvfwmaccqqq=true,x-xsfvfnrclipxfqf=true,x-Zvfh=true,sscof=true,pmu=29", "boot": "sd", "smp": "2", "options": "" },
    { "release": "narwhal", "core": "virt", "machine": "virt"}
]</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FPGA_TESTS</name>
          <defaultValue>buildin-dhrystone buildin-coremark TFLite-RVV gcc-compile-test-coremark gcc-compile-test-dhrystone clang-compile-test-coremark clang-compile-test-dhrystone SiFive-Recode perf hypervisor IOMMU</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QEMU_TESTS</name>
          <defaultValue>buildin-dhrystone buildin-coremark TFLite-RVV gcc-compile-test-coremark gcc-compile-test-dhrystone clang-compile-test-coremark clang-compile-test-dhrystone SiFive-Recode perf hypervisor IOMMU stress-ng</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SYNC_ONLY</name>
          <description>Sync Jenkins Job configuration only, do not build anything</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec># Set to the beginning (0:xx am) of Taiwan branch
# H 8 * * *</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2660.vb_c0412dc4e6d">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.10.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>ssh://git@github.com/sifive/syssw_automation_tools.git</url>
          <credentialsId>ad25d95a-4a30-4cc9-bda9-e836d51af0b9</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>automation_works</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <gitTool>Default</gitTool>
      <submoduleCfg class="empty-list"/>
      <extensions>
        <hudson.plugins.git.extensions.impl.WipeWorkspace/>
      </extensions>
    </scm>
    <scriptPath>jenkins_scripts/jenkinsfile/Matrix_Build_and_Test_FUSDK_private.jenkinsfile</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>