<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>test the u77 sting vector only each day</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.2.1"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>small</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/scratch/jenkins/archived-builds/${JOB_NAME}/${BUILD_ID}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>echo $BUILD_NUMBER
hostname
env
pwd


. /sifive/tools/Modules/3.2.10/init/sh
. /sifive/tools/Modules/3.2.10/init/bash

echo $WORKSPACE
echo $EXECUTOR_NUMBER
export JENKINS_BUILDS_DIR=/scratch/jenkins/archived-builds

# Create the Jenkins build dir if it doesn&apos;t exist
mkdir -p $JENKINS_BUILDS_DIR
cd $JENKINS_BUILDS_DIR
echo $PWD

mkdir -p $JOB_NAME/$BUILD_NUMBER
cd $JOB_NAME/$BUILD_NUMBER
echo $PWD


# Setting federation folder
git clone git@github.com:sifive/federation.git
cd federation


# Initialize git submodules and necessary environment variables
./scripts/quick-submodule-update
. ./rc.d/riscv-tools.bashrc

# Build the configure IP
mkdir builds
export BUILD_DIR=builds
./generate-build  coreip_u77_axi4
cd builds/coreip_u77_axi4/
. ./load-modules
make sim

cd sim
export SALLOC_ACCOUNT=&apos;verif&apos;
./sitest @../../../test-outlines/sting_vectors.outline#60 --sim=verilator --superseed=$(date +%s) -j 20 -b

##export STING_ROOT=/sifive/tools/valtrix/sting-vector64/1.9.0/
export STING_ROOT=/home/maxl/sting/STING-mimas-1.9.6/
cd sim
python /home/maxl/app/st_cov.py

hostname
pwd

mkdir -p /home/maxl/jenkins_Sting_result_2021/$BUILD_NUMBER/$(date +&quot;%d-%m-%Y&quot;)
cp CovLog_* /home/maxl/jenkins_Sting_result_2021/$BUILD_NUMBER/$(date +&quot;%d-%m-%Y&quot;)/
cp sting.sqlite /home/maxl/jenkins_Sting_result_2021/$BUILD_NUMBER/$(date +&quot;%d-%m-%Y&quot;)/
cd /home/maxl/jenkins_Sting_result_2021/
chmod -R 775 *
echo $BUILD_NUMBER</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>