<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SYSSW.FUSDK.PRIVATE.LARGE.000</name>
  <description>System Software FUSDK (private) build node</description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>1</inDemandDelay>
    <idleDelay>1</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SYSSW.FUSDK.PRIVATE.LARGE.000 \
JNLP_SECRET=aaa30864e6687051b3f97c0bfca0bc30751be91c622555ed7aca45a4cc9a20b2 \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
JENKINS_AGENT_MEM=80G \
~/jenkins-utils/tools/jenkins-agent-salloc-swsys-fusdk-cloud-large.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>nightly_syssw_fusdk_public_build_rhel8 nightly_syssw_fusdk_private_build_rhel8 syssw-fusdk-build-cloud</label>
  <nodeProperties/>
</slave>