<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>This Jenkins job is used to run BETL scrapers and generate data for review before loading it into the database.&#13;
&#13;
&lt;p&gt; Owners: Filip Stamenkovic</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>KNOWN_REMOTE_HOST</name>
          <description>Select the machine on which the results are located on. If option "Other" is selected, the machine's hostname / IP address must be specified in the field below (OTHER_REMOTE_HOST).</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Results on NFS</string>
              <string>35.85.132.91</string>
              <string>Other</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OTHER_REMOTE_HOST</name>
          <description>(Optional) IP address / hostname of a the machine if it is not available in the drop down above.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>RESULT_PATHS</name>
          <description>Result paths. Write each path on it's own line.</description>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>WORKLOAD_TYPE</name>
          <description>Select workload type. (This parameter will be automatic in the future).</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>SPECINT2006</string>
              <string>SPECFP2006</string>
              <string>SPECFP2006_C_CPP</string>
              <string>LMBENCH_STREAM</string>
              <string>LMBENCH_BW</string>
              <string>LMBENCH_LAT_RD</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>hostname


# BETL_TEMPLATES_DIR=/work/sparta/wklds_betl/templates

# rsync -a -m  --include='*/*uartlog' --include='*/*result/*' --include='*/*membench' --include='*/' --exclude='*' 54.189.9.194:/data/results-workloads.239/2022-03-01--18-02-25-fusdk-2201-lmbench-p270hp-lbp-85n-htlb/membench64-u7-htlb_0x38c84e00015811 /work/filips/work/test_fetch

/work/sparta/tools/betl/betl_datacenter_wrapper.sh jenkins_runner

# Prepare HTML output results area
mkdir -p $WORKSPACE/html
RESULTS=$WORKSPACE/html/results.html

cp /work/sparta/wklds_betl/jenkins_template/$BUILD_ID/scraped_data.html $RESULTS
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>html/results.html</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
      <followSymlinks>false</followSymlinks>
    </hudson.tasks.ArtifactArchiver>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.29">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>BETL Scraped Data</reportName>
          <reportDir>/work/sparta/wklds_betl/jenkins_template/$BUILD_ID</reportDir>
          <reportFiles>scraped_data.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <reportTitles/>
          <keepAll>false</keepAll>
          <allowMissing>false</allowMissing>
          <includes>**/*</includes>
          <escapeUnderscores>true</escapeUnderscores>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <hudson.plugins.descriptionsetter.DescriptionSetterPublisher plugin="description-setter@1.10">
      <regexp/>
      <regexpForFailed>Could not fetch results from (.*) under directory (.*) with stderr</regexpForFailed>
      <descriptionForFailed>Failed to access data from \1 at path \2</descriptionForFailed>
      <setForMatrix>false</setForMatrix>
    </hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
  </publishers>
  <buildWrappers>
    <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper plugin="ssh-agent@1.24.1">
      <credentialIds>
        <string>jenkins-ssh-perf-team</string>
      </credentialIds>
      <ignoreMissing>false</ignoreMissing>
    </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.2.0">
      <template>#${BUILD_NUMBER}: ${WORKLOAD_TYPE} from ${KNOWN_REMOTE_HOST} ${OTHER_REMOTE_HOST}</template>
      <descriptionTemplate/>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>