<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>the weekly cmsis regression for U77&#xd;
Owners: Hsinyi Lee, Fu-Ching Yang&#xd;
Backup: Mike Schoenfelder</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.3"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>15</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>7</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>small</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 1 * * 2</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>hostname

export JENKINS_BUILDS_DIR=/scratch/jenkins/archived-builds

# environment setting
. /sifive/tools/Modules/3.2.10/init/sh
. /sifive/tools/Modules/3.2.10/init/bash

# set python environment
module load python
python --version
python3 --version

python -m pip install --upgrade pip --user
python -m pip install setuptools --user
python -m pip install pyyml --user

python3 -m pip install --upgrade pip --user
python3 -m pip install setuptools --user
python3 -m pip install pyyml --user

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

# create the Jenkins build dir if it doesn&apos;t exist
mkdir -p $JENKINS_BUILDS_DIR/$JOB_NAME/$BUILD_NUMBER

# clone cmsis repo and the submodules
pushd $JENKINS_BUILDS_DIR/$JOB_NAME/$BUILD_NUMBER
/work/cmsis/git/bin/git clone --depth 1 git@github.com:sifive/vector-sw.git -b rvv-vi7
pushd vector-sw
/work/cmsis/git/bin/git submodule update --init --recursive --depth 1 riscv-isa-sim
/work/cmsis/git/bin/git submodule update --init --recursive federation
pushd federation
/work/cmsis/git/bin/git fetch origin master
/work/cmsis/git/bin/git checkout origin/master
/work/cmsis/git/bin/git submodule sync --recursive
/work/cmsis/git/bin/git submodule foreach git clean -ffdx
/work/cmsis/git/bin/git submodule update --init --recursive
popd

# show commit id
echo &quot;cmsis commit: `git rev-parse HEAD | head -c 8`&quot;
pushd riscv-isa-sim
echo &quot;spike commit: `git rev-parse HEAD | head -c 8`&quot;
popd
pushd federation
echo &quot;federation commit: `git rev-parse HEAD | head -c 8`&quot;
popd

export VECTOR_SW_SOURCE_ROOT=`pwd`
export VECTOR_SW_BUILD_ROOT=$VECTOR_SW_SOURCE_ROOT/test_perf
export PERF_SERVER_HOST_NAME=&quot;10.14.135.139&quot;
export PERF_SERVER_PORT=8202
export PERF_SERVER_USER_NAME=runner
export PERF_SERVER_PASSWD=kNHUUhP5AZkthSC8
export PERF_SERVER_DB_NAME=perf_regression
export VECTOR_SW_BUILD_CONFIG=RTLSIM-U77

# regression type
export VECTOR_SW_REGRESSION_TYPE=WEEKLY

# apply cmsis federation local patch
Data/federation/update_federation.sh

Utilities/script/upload_perf.sh

popd
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.48">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <tokenCredentialId></tokenCredentialId>
      <botUser>false</botUser>
      <room>#cmsis_regression</room>
      <sendAsText>false</sendAsText>
      <iconEmoji></iconEmoji>
      <username></username>
      <startNotification>false</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyEveryFailure>false</notifyEveryFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>true</includeTestSummary>
      <includeFailedTests>true</includeFailedTests>
      <uploadFiles>false</uploadFiles>
      <artifactIncludes></artifactIncludes>
      <commitInfoChoice>AUTHORS_AND_TITLES</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
      <customMessageSuccess></customMessageSuccess>
      <customMessageAborted></customMessageAborted>
      <customMessageNotBuilt></customMessageNotBuilt>
      <customMessageUnstable></customMessageUnstable>
      <customMessageFailure></customMessageFailure>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>