<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.005</name>
  <description></description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>1</inDemandDelay>
    <idleDelay>1</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.005 \
JNLP_SECRET=17bd805bd36b0d6853679d636c9b2b4274ddcc7029f368836d950fb10b227309 \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
JENKINS_AGENT_SLURM_PARTITION=redhat \
~/jenkins-utils/tools/jenkins-agent-salloc.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>nightly_standard_agent_rhel8</label>
  <nodeProperties/>
</slave>