<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SMALL.007</name>
  <description></description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>1</inDemandDelay>
    <idleDelay>10</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher">
      <launcher class="hudson.slaves.JNLPLauncher">
        <workDirSettings>
          <disabled>false</disabled>
          <internalDir>remoting</internalDir>
          <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
        </workDirSettings>
        <webSocket>false</webSocket>
      </launcher>
      <startScript></startScript>
      <stopScript></stopScript>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SMALL.007 \
JNLP_SECRET=89a28a7bdc5e362dcbf97edb42b713703ca489b70e05667a1b41dc8e33d8d1da \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
JENKINS_AGENT_SLURM_PARTITION=redhat \
~/jenkins-utils/tools/jenkins-agent-salloc-small.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>perf_regr_agent_rhel8 score_guard_rhel8 nightly_small_agent_rhel8</label>
  <nodeProperties/>
</slave>