<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REPO</name>
          <defaultValue>meta-sifive-private</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_COMMIT</name>
          <defaultValue>667b5e398c3d7a5aadcc79859bf97086a04b8062</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>STATE</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>success</string>
              <string>failure</string>
              <string>pending</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DESCRIPTION</name>
          <defaultValue>fusdk build test</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CONTEXT</name>
          <defaultValue>fusdk-builder_qemuriscv64</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#REPO="meta-sifive-private"
#GIT_COMMIT="98d5dfdc03d77f1efed381f4c50445d3f0c05e57"

#REPO="swqa-pipeline-test"
#GIT_COMMIT="667b5e398c3d7a5aadcc79859bf97086a04b8062"

github_update_status()
{
 curl \
  -X POST \
  -H "Accept: application/vnd.github.v3+json" \
  "https://${SIFIVE_BOT}:x-oauth-basic@api.github.com/repos/sifive/${REPO}/statuses/${GIT_COMMIT}" \
  -d "{ \"state\": \"$STATE\", \"context\": \"${CONTEXT}\", \"description\": \"${DESCRIPTION}\", \"target_url\": \"${BUILD_URL}\" }"
}


github_create_check_run()
{
curl \
  -X POST \
  -H "Accept: application/vnd.github.v3+json" \
  "https://${SIFIVE_BOT}:x-oauth-basic@api.github.com/repos/sifive/${REPO}/check-runs" \
  -d "{\"name\":\"test-name\",\"head_sha\":\"${GIT_COMMIT}\"}"
}

github_update_status
#curl -X POST -H 'Accept: application/vnd.github.v3+json' https://${SIFIVE_BOT}:x-oauth-basic@api.github.com/repos/sifive/meta-sifive-private/statuses/98d5dfdc03d77f1efed381f4c50445d3f0c05e57 -d '{ "state": "pending", "context": "fusdk-builder_sifive-fpga", "description": "fusdk build test", "target_url": "https://jenkins.internal.sifive.com/job/syssw-automation/job/toolkit/job/fusdk_builder_dev/209/" }'
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.27.1">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>bab094ff-ed07-4f37-ab33-67803368e526</credentialsId>
          <variable>SIFIVE_BOT</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>