<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.plugins.repo.RepoScm" plugin="repo@1.14.0">
    <manifestRepositoryUrl>ssh://git@github.com/sifive/meta-sifive-private</manifestRepositoryUrl>
    <manifestFile>tools/manifests/sifive.xml</manifestFile>
    <manifestBranch>rel/sifive-fpga/202107</manifestBranch>
    <jobs>0</jobs>
    <depth>0</depth>
    <destinationDir>fusdk</destinationDir>
    <currentBranch>true</currentBranch>
    <resetFirst>true</resetFirst>
    <cleanFirst>true</cleanFirst>
    <quiet>true</quiet>
    <forceSync>true</forceSync>
    <trace>false</trace>
    <showAllChanges>true</showAllChanges>
    <noTags>true</noTags>
    <manifestSubmodules>false</manifestSubmodules>
    <fetchSubmodules>false</fetchSubmodules>
    <ignoreProjects class="linked-hash-set">
      <string/>
    </ignoreProjects>
    <noCloneBundle>true</noCloneBundle>
    <worktree>false</worktree>
  </scm>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>fusdk/openembedded-core/scripts/install-buildtools -r yocto-3.2_M2 -t 20200729 -d /nfs/teams/sw/static/syssw/jenkins/buildtools/yocto-3.2_M2_20200729
fusdk/openembedded-core/scripts/install-buildtools -r yocto-3.2_M2 -t 20200729 -V 3.1+snapshot -d /nfs/teams/sw/static/syssw/jenkins/buildtools/yocto-3.2_M2_20200729_3.1+snapshot</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.ws__cleanup.WsCleanup plugin="ws-cleanup@0.40">
      <patterns class="empty-list"/>
      <deleteDirs>false</deleteDirs>
      <skipWhenFailed>false</skipWhenFailed>
      <cleanWhenSuccess>true</cleanWhenSuccess>
      <cleanWhenUnstable>true</cleanWhenUnstable>
      <cleanWhenFailure>true</cleanWhenFailure>
      <cleanWhenNotBuilt>true</cleanWhenNotBuilt>
      <cleanWhenAborted>true</cleanWhenAborted>
      <notFailBuild>false</notFailBuild>
      <cleanupMatrixParent>false</cleanupMatrixParent>
      <externalDelete/>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers/>
</project>