<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SYSSW.FUSDK.PUBLIC.001</name>
  <description>System Software FUSDK (public) build node (16 core)</description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>0</inDemandDelay>
    <idleDelay>10</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SYSSW.FUSDK.PUBLIC.001 \
JNLP_SECRET=f1913d4a80fc174ac53d8533aa6face41efe7cc993c1a9bcd8141c23ef2c4f16 \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
~/jenkins-utils/tools/jenkins-agent-salloc-swsys-fusdk.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>nightly_syssw_fusdk_public_build_rhel8 syssw-fusdk-build</label>
  <nodeProperties/>
</slave>