<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.BIG.002</name>
  <description></description>
  <remoteFS>/tmp</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>5</inDemandDelay>
    <idleDelay>15</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.BIG.002 \
JNLP_SECRET=c83a3d6dd0c81b0eeda8ba7f57e00f987980e757c043ca20942f3aa94263f282 \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
JENKINS_AGENT_SLURM_PARTITION=redhat \
~/jenkins-utils/tools/jenkins-agent-salloc-big.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>nightly_big_agent_rhel8</label>
  <nodeProperties/>
</slave>