<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SMALL.032</name>
  <description></description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>1</inDemandDelay>
    <idleDelay>2</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SMALL.032 \
JNLP_SECRET=2a45aacbca60d66e7aa57883a6419c3cf80b4f6ba41f6e78e78d06d1d86d2181 \
JENKINS_AGENT_SLURM_PARTITION=redhat \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
~/jenkins-utils/tools/jenkins-agent-salloc-small.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>nightly_small_agent_rhel8 riscv-gcc-internal-pr-agent-small</label>
  <nodeProperties/>
</slave>