<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.3"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.3">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>TARGET</string>
        <string>COREIP_VERSION</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>TARGET</name>
          <description>&lt;li&gt;Given toolchain path or toolchain tarball path.&lt;/li&gt;&lt;li&gt;&lt;b&gt;This parameter is necessary&lt;/b&gt;&lt;/li&gt;</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COREIP_VERSION</name>
          <description>&lt;li&gt;s&lt;/b&gt;&lt;/li&gt;</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2660.vb_c0412dc4e6d">
    <script>pipeline {
    agent {
        node {
            label 'tiny_rhel8||nightly_small_agent_rhel8'
            customWorkspace "/scratch/jenkins/workspace/${env.JOB_NAME}/${env.BUILD_ID}"
        }
    }
    parameters {
        string(name: 'TARGET', defaultValue: '', description: '&lt;li&gt;Given toolchain path or toolchain tarball path.&lt;/li&gt;&lt;li&gt;&lt;b&gt;This parameter is necessary&lt;/b&gt;&lt;/li&gt;')
        string(name: 'COREIP_VERSION', defaultValue: '', description: '&lt;li&gt;s&lt;/b&gt;&lt;/li&gt;')
    }
    stages {
        stage('Prepare') {
            steps {
                    echo params.TARGET
                    echo params.COREIP_VERSION
                    sh """
                        echo \$HOSTNAME &amp;&amp; pwd
                        git clone git@github.com:sifive/spec2k6-fpga-automation.git -b main --recursive
                        cd spec2k6-fpga-automation
                        ls
                    """
                    load "/nfs/teams/sw/dc-scratch/swqa/janec/t.groovy"      
                    echo "parameter cur is ${cur}"
                    echo "parameter from load is ${file_core}"
                    script {
                            GIT_COMMIT_EMAIL = sh (
                            script: 'ls',
                            returnStdout: true
                            ).trim()
                            echo "Git committer email: ${GIT_COMMIT_EMAIL}"
                            }
                    }       
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>