<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SW.TOOLCHAIN.BIG.003</name>
  <description>Agent dedicated for SW Compiler Team Big Runs @Hau Hsu</description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>0</inDemandDelay>
    <idleDelay>1</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SW.TOOLCHAIN.BIG.003 \
JENKINS_AGENT_SLURM_PARTITION=redhat_cloud \
JNLP_SECRET=0e4c23a784d7df5a49564db08271ebdd5db84fb1bdc0181e9d02f12ca1eafdbc \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
~/jenkins-utils/tools/jenkins-agent-salloc-sw-toolchain-big.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>toolchain_big_cloud_agent_rhel8</label>
  <nodeProperties/>
</slave>