<?xml version='1.1' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.14">
  <actions/>
  <description>Continous Integration Continous Delivery for SiFive CoreiP Releases.

Provide final basic sanity regression of
- Freedom Metal, Freedom E SDK softwares
- Running on RTL+Testbench simulation and FPGA bitstreams on Arty/VCU118
- Using SiFive public and private Embedded Software Toolchains
- Along with Documentaions, Spyglass, CoreSight
</description>
  <displayName>SiFive Products CoreIP Release CICD </displayName>
  <properties>
    <org.jenkinsci.plugins.docker.workflow.declarative.FolderConfig plugin="docker-workflow@1.24">
      <dockerLabel></dockerLabel>
      <registry plugin="docker-commons@1.17"/>
    </org.jenkinsci.plugins.docker.workflow.declarative.FolderConfig>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>all</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>CoreIP Regressions</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator"/>
          <string>19-05/CoreIP-Regression</string>
          <string>19-08/CoreIP-Regression</string>
          <string>Master/CoreIP-Regression</string>
          <string>PCS-19_05/CoreIP-Regression</string>
          <string>PCS-19_08/CoreIP-Regression</string>
          <string>PCS-19_08/CoreIP-Regression-Max</string>
          <string>PCS-19_08/CoreIP-Regression-Minimal</string>
          <string>PCS-Master/CoreIP-Regression</string>
          <string>PCS-Master/CoreIP-Regression-Customer</string>
          <string>PCS-Master/CoreIP-Regression-Max</string>
          <string>PCS-Master/CoreIP-Regression-Minimal</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <includeRegex>.*Regression.*</includeRegex>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Benchmark Regressions</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>19-05/Benchmark-Scores-Regression</string>
          <string>19-08/Benchmark-Scores-Regression</string>
          <string>Master/Benchmark-Scores-Regression</string>
          <string>PCS-19_05/Benchmark-Scores-Regression</string>
          <string>PCS-19_08/Benchmark-Scores-Regression</string>
          <string>PCS-Master/Benchmark-Scores-Regression</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <includeRegex>.*Benchmark.*</includeRegex>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Everything</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>19-05/Benchmark-Scores-Regression</string>
          <string>19-05/CoreIP-Regression</string>
          <string>19-08/Benchmark-Scores-Regression</string>
          <string>19-08/CoreIP-Regression</string>
          <string>Master/Benchmark-Scores-Regression</string>
          <string>Master/CoreIP-Regression</string>
          <string>PCS-19_05/Benchmark-Scores-Regression</string>
          <string>PCS-19_05/CoreIP-Regression</string>
          <string>PCS-19_08/Benchmark-Scores-Regression</string>
          <string>PCS-19_08/CoreIP-Regression</string>
          <string>PCS-19_08/CoreIP-Regression-Max</string>
          <string>PCS-19_08/CoreIP-Regression-Minimal</string>
          <string>PCS-19_08/Empanada-Regression</string>
          <string>PCS-Master/Arty-Tarball-Generation</string>
          <string>PCS-Master/Benchmark-Scores-Regression</string>
          <string>PCS-Master/CoreIP-Regression</string>
          <string>PCS-Master/CoreIP-Regression-Customer</string>
          <string>PCS-Master/CoreIP-Regression-Max</string>
          <string>PCS-Master/CoreIP-Regression-Minimal</string>
          <string>PCS-Master/VCU118-Tarball-Generation</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <includeRegex>.*(Benchmark|CoreIP|Tarball).*</includeRegex>
        <recurse>true</recurse>
      </hudson.model.ListView>
      <hudson.model.ListView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>Deliveries</name>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
        <jobNames>
          <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
          <string>PCS-Master/Arty-Tarball-Generation</string>
          <string>PCS-Master/VCU118-Tarball-Generation</string>
        </jobNames>
        <jobFilters/>
        <columns>
          <hudson.views.StatusColumn/>
          <hudson.views.WeatherColumn/>
          <hudson.views.JobColumn/>
          <hudson.views.LastSuccessColumn/>
          <hudson.views.LastFailureColumn/>
          <hudson.views.LastDurationColumn/>
          <hudson.views.BuildButtonColumn/>
          <hudson.plugins.favorite.column.FavoriteColumn plugin="favorite@2.3.2"/>
        </columns>
        <includeRegex>.*Tarball.*</includeRegex>
        <recurse>true</recurse>
      </hudson.model.ListView>
    </views>
    <primaryView>all</primaryView>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>