<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Mock freedom-tools-private</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>INSTALL_PATH</name>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mkdir -p "$INSTALL_PATH"
cat &lt;&lt;EOF &gt;&gt; "$INSTALL_PATH"/tool_info.txt
{
  "name": "toolsuite-linux-native-package",
  "build_config": "toolsuite-linux-native-package EXTRA_OPTION=minimal SAVE_SRC=falseTOOLCHAIN_META_SRC=/scratch/hauh/toolchain/freedom-tools-private/../toolchain-src USE_CCACHE=1",
  "source_info": "{'sifive/toolchain-meta-next': 'c1eb01e9f21ba75d5793184e3a9795ad57ee4baa','sifive/freedom-tools-private': 'ed449df48e4655a9a1aa06ea6b85fb3828577939'}",
  "path": "/scratch/hauh/toolchain/freedom-tools-private/install_toolchain//toolchain_name",
  "version": "2022.04.3-preview",
  "build_date": "2022-05-17"
}
EOF</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>