<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.SMALL.000</name>
  <description></description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>0</inDemandDelay>
    <idleDelay>2</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.SMALL.000 \
JNLP_SECRET=10b385782a1f77fe20451bbf2b269cee259e67ca0ab719bb8628672e441caa2b \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
JENKINS_AGENT_SLURM_PARTITION=redhat \
~/jenkins-utils/tools/jenkins-agent-salloc-small.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>rit_small_agent_rhel8</label>
  <nodeProperties/>
</slave>