<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>hsinchu12 </name>
  <description>Server located at Taiwan HsinChu Office hsinchu hsinchu.big hsinchu12</description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.CommandLauncher" plugin="command-launcher@1.6">
    <agentCommand>bash -c &quot;ssh -v jenkins@$NODE_NAME -o \&quot;ProxyCommand=ssh jenkins@taiwan.sifive.com -p 55688 -W %h:%p\&quot;  \&quot;cd $AGENT_HOME_DIR &amp;&amp; java -jar /home/jenkins/agent.jar\&quot;&quot;</agentCommand>
  </launcher>
  <label>hsinchu12</label>
  <nodeProperties>
    <hudson.tools.ToolLocationNodeProperty>
      <locations>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.plugins.git.GitTool$DescriptorImpl</type>
          <name>Default</name>
          <home>/usr/bin/git</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
      </locations>
    </hudson.tools.ToolLocationNodeProperty>
  </nodeProperties>
</slave>