<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>tpp04</name>
  <description>Tools Product Packages (TPP) Testbed 04 (CentOS 6.10)</description>
  <remoteFS>/home/scratch/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.5">
    <host>tpp04.internal.sifive.com</host>
    <port>22</port>
    <credentialsId>ad25d95a-4a30-4cc9-bda9-e836d51af0b9</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>run-on-tpp04</label>
  <nodeProperties/>
</slave>