<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>tpp02</name>
  <description>Tools Product Packages (TPP) Testbed 02 (Windows 10)</description>
  <remoteFS>C:\scratch\jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.5">
    <host>tpp02.internal.sifive.com</host>
    <port>22</port>
    <credentialsId>ad25d95a-4a30-4cc9-bda9-e836d51af0b9</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>run-on-tpp02</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>2</int>
          <string>GIT_SSH_COMMAND</string>
          <string>/c/tools/git-ssh-cert/git_ssh_command.sh</string>
          <string>PATH</string>
          <string>C:\tools\msys64-1.0.0-2020.01.0\usr\bin;C:\tools\apache-maven-3.5.4\bin;C:\AdoptOpenJDK\jdk-11.0.6.10-openj9\bin;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0;C:\WINDOWS\System32\OpenSSH;C:\Users\cyg_server\AppData\Local\Microsoft\WindowsApps</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
    <hudson.tools.ToolLocationNodeProperty>
      <locations>
        <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          <type>hudson.plugins.git.GitTool$DescriptorImpl</type>
          <name>Default</name>
          <home>C:\tools\msys64-1.0.0-2020.01.0\usr\bin\git.exe</home>
        </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
      </locations>
    </hudson.tools.ToolLocationNodeProperty>
  </nodeProperties>
</slave>