<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>&lt;h6&gt;Description&lt;/h6&gt;&#13;
Manually exclude the selected &lt;b&gt;vcu118 nosd epsilon&lt;/b&gt; server from &lt;b&gt;epsilon-FPGA_noSD-dynamic&lt;/b&gt; label.&lt;p&gt;&#13;
&#13;
&lt;h6&gt;Usage:&lt;/h6&gt;&#13;
Check/unckeck epsilon server name&lt;br&gt;&#13;
vcu118_nosd-sanity-checker will remove the label epsilon-FPGA_noSD-dynamic for all selected epsilon nodes.&lt;p&gt;&#13;
&#13;
PS. Jenkins job records the selected nodes in /nfs/teams/sw/share/swqa/epsilon/vcu118_nosd.property.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DESCRIPTION</name>
          <description>Describe the reason for this change.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@346.vd87693c5a_86c">
          <name>EPSILON_EXCLU</name>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>20</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <propertyFile>/nfs/teams/sw/share/swqa/epsilon/vcu118_nosd.property</propertyFile>
          <propertyKey>EPSILON_AVAIL</propertyKey>
          <defaultPropertyFile>/nfs/teams/sw/share/swqa/epsilon/vcu118_nosd.property</defaultPropertyFile>
          <defaultPropertyKey>EPSILON_EXCLU</defaultPropertyKey>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <projectName>vcu118_nosd-exclusion</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
EPSILON_PARAMETER="/nfs/teams/sw/share/swqa/epsilon/vcu118_nosd.property"
EPSILON_AVAIL=$(boardtest-info | grep "vcu118_nosd" | awk '{ print $1 }' | tr '\n' ',')

if [ ! -f "${EPSILON_PARAMETER}" ]; then
cat &gt; ${EPSILON_PARAMETER} &lt;&lt; EOF
EPSILON_AVAIL=${EPSILON_AVAIL}
EPSILON_EXCLU=
EOF
fi

# Update the parameter for the next run
cat &gt; "${EPSILON_PARAMETER}" &lt;&lt; EOF
EPSILON_AVAIL=${EPSILON_AVAIL}
EPSILON_EXCLU=${EPSILON_EXCLU}
EOF
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>vcu118_nosd-epsilon-sanity-pipe</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@2.2.0">
      <template>#${BUILD_NUMBER}</template>
      <descriptionTemplate>${EPSILON_EXCLU}&lt;br&gt;${DESCRIPTION}</descriptionTemplate>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>