<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Parallel test</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.3"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.32">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ECHO_STUFF</name>
          <defaultValue>NONE</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>SLURM.TINY.001 || SLURM.TINY.002 || SLURM.TINY.003 || SLURM.TINY.004 || SLURM.TINY.005 || SLURM.TINY.006 || SLURM.TINY.007</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#cp -r /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/96bcaed22734bb634a861b5ca278b7c4516a6da4 /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/96b
#ln -s /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/96b /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/softlink_test

#mv /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/96b/demo-coreip-cli-sifive-fpga.ext4 /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/96b/demo-coreip-cli-sifive-fpga.ext4_copy
#cp /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/pre2-rel-sifive-fpga-202107/demo-coreip-cli-sifive-fpga-20211206101236.rootfs.ext4 /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/96b/pre2-demo-coreip-cli-sifive-fpga-20211206101236.rootfs.ext4 
cd /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/
ln -s / goto_root
#rm /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/pre3-rel-sifive-fpga-202107/dtb/demo-coreip-cli-sifive-fpga-20211222035927.rootfs.ext4
#rm /work/jenkins/syssw/FUSDK-build-private/sifive-fpga/pre3-rel-sifive-fpga-202107/dtb/u-boot.itb</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>