<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1145.v7f2433caa07f">
  <actions/>
  <description>Launches series of&#13;
&lt;a href="https://jenkins.internal.sifive.com/view/RM/job/weekly-builder"&gt;RM/weekly-builder&lt;/a&gt;&#13;
jobs - runs jenkins script &#13;
&lt;a href="https://github.com/sifive/jenkins-utils/blob/DOPS-615_for_release_management/release-management/weekly_launcher.Jenkinsfile"&gt;sifive/jenkins-utils/weekly_launcher.Jenkinsfile&lt;/a&gt;&#13;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>5</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_VERSION</name>
          <description>The federation branch version being released.&lt;br&gt;
[default defined in
&lt;a href="https://github.com/sifive/jenkins-utils/blob/master/release-management/weekly_launcher.Jenkinsfile"&gt;weekly_launcher.Jenkinsfile&lt;/a&gt;],
passed through to
&lt;a href="https://jenkins.internal.sifive.com/view/RM/job/weekly-builder"&gt;RM/weekly-builder&lt;/a&gt;</description>
          <defaultValue>release_generator_narwhal</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>CONFIG_SERIES_LIST</name>
          <description>List of CONFIG, SERIES combinations to build for this RELEASE_VERSION,&lt;br&gt;
The format is one per line in the form of 'CONFIG:SERIES',&lt;br&gt;
Will trigger one
&lt;a href="https://jenkins.internal.sifive.com/view/RM/job/weekly-builder"&gt;RM/weekly-builder&lt;/a&gt;
job per line
</description>
          <defaultValue>spanning:e2
spanning:e6
spanning:e7
spanning:s2
spanning:s6
spanning:s7
spanning:u6
spanning:u7
spanning:vis
spanning:viu7_128
spanning:viu7_256
standard:e2
standard:e6
standard:e7
standard:s2
standard:s6
standard:s7
standard:u6
standard:u7
standard:vis
standard:viu7_128
standard:viu7_256</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_WAIT</name>
          <description>If set then launch 
&lt;a href="https://jenkins.internal.sifive.com/view/RM/job/weekly-builder"&gt;RM/weekly-builder&lt;/a&gt;
jobs in series [default in parallel]</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ARCHIVE_COREIP_SIFIVE_BRANCH</name>
          <description>The archive-coreip-sifive repo branch to checkout,
passed through to
&lt;a href="https://jenkins.internal.sifive.com/view/RM/job/weekly-builder"&gt;RM/weekly-builder&lt;/a&gt;</description>
          <defaultValue>DOPS-615_refactor_jenkins</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DRYRUN</name>
          <description>If set only print the final &lt;tt&gt;build_script.py&lt;/tt&gt; command instead of running it,
passed through to
&lt;a href="https://jenkins.internal.sifive.com/view/RM/job/weekly-builder"&gt;RM/weekly-builder&lt;/a&gt;</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2660.vb_c0412dc4e6d">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.10.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/sifive/jenkins-utils.git</url>
          <credentialsId>18352a7f-c03f-4cf2-a4a5-cad442f328d6</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/DOPS-615_for_release_management</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <gitTool>Default</gitTool>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>release-management/weekly_launcher.Jenkinsfile</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>