<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>SLURM.TINY.000</name>
  <description></description>
  <remoteFS>/scratch/jenkins</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Demand">
    <inDemandDelay>0</inDemandDelay>
    <idleDelay>10</idleDelay>
  </retentionStrategy>
  <launcher class="org.jenkinsci.plugins.slave_setup.SetupSlaveLauncher" plugin="slave-setup@1.10">
    <launcher class="hudson.slaves.JNLPLauncher">
      <workDirSettings>
        <disabled>false</disabled>
        <internalDir>remoting</internalDir>
        <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
      </workDirSettings>
      <webSocket>false</webSocket>
    </launcher>
    <startScript>(cd ~/jenkins-utils &amp;&amp; git pull git@github.com:sifive/jenkins-utils.git) &amp;&amp; \
AGENT_NAME=SLURM.TINY.000 \
JNLP_SECRET=e4b7090a644165bf85fe0127e094aa90ce4795ba211634c501d00a4043c63386 \
JENKINS_URL=https://jenkins.internal.sifive.com/ \
JENKINS_AGENT_SLURM_PARTITION=redhat \
~/jenkins-utils/tools/jenkins-agent-salloc-tiny.sh</startScript>
    <stopScript></stopScript>
  </launcher>
  <label>tiny</label>
  <nodeProperties/>
</slave>