<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Qemu tests</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.3"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.4">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>FUSDK_MACHINE</name>
          <description>Pass MACHINE variable to bitbake</description>
          <defaultValue>qemuriscv64</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>META_SIFIVE_PRIVATE_BRANCH</name>
          <description>branch name of meta-sifive-private</description>
          <defaultValue>rel/sifive-fpga/202103</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FUSDK_MANIFEST</name>
          <description>manifest.xml of meta-sifive-private</description>
          <defaultValue>tools/manifests/sifive.xml</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BITBAKE_PACKAGE</name>
          <description>the package name of bitbak</description>
          <defaultValue>demo-coreip-cli</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NUM_OF_CORES</name>
          <description>Decide how many cores for build.</description>
          <defaultValue>32</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NFS_Path</name>
          <defaultValue>/work/jenkins/syssw</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SSTATE_Sub_Path</name>
          <defaultValue>share-sstate</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Build_Sub_Path</name>
          <defaultValue>FUSDK-build</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Patch</name>
          <defaultValue>true</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tests_to_run</name>
          <defaultValue>stress-ng coremark dhrystone</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>syssw_automation_tools_branch_name</name>
          <defaultValue>dev/maxh/add_qemu_tests</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NBD_server_port</name>
          <defaultValue>10809</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NBD_server_name</name>
          <defaultValue>sigma94</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>script_to_init_qemu</name>
          <defaultValue>/scratch/maxh/private_FUSDK/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/1.0-r1/recipe-sysroot-native/usr/bin/qemu-system-riscv64 --nographic -M sifive_u   -kernel /scratch/maxh/private_FUSDK/build/tmp-glibc/deploy/images/qemuriscv64/Image-initramfs-qemuriscv64.bin  -cpu rv64,x-b=true,x-v=true,vlen=256,elen=64,vext_spec=v1.0,Zvamo=true,x-Zfh=true -m 4G -smp 4   -append &apos; ip=dhcp root=/dev/nbd0 rw nbdroot=10.0.2.2:qemu01 port=10809 rw mem=2048M console=ttyS0 console=hvc0 earlycon=sbi &apos; -bios /scratch/maxh/private_FUSDK/build/tmp-glibc/deploy/images/qemuriscv64/fw_jump.elf</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>AutoBuild_Max</authToken>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>0 0 1 * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.plugins.build__timeout.BuildStepWithTimeout plugin="build-timeout@1.20">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>600</timeoutMinutes>
      </strategy>
      <buildStep class="org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder" plugin="conditional-buildstep@1.4.1">
        <condition class="org.jenkins_ci.plugins.run_condition.core.AlwaysRun" plugin="run-condition@1.5"/>
        <buildStep class="hudson.tasks.Shell">
          <command>#!/bin/bash

# for debugging
echo $NODE_NAME
hostname
build_date=`date +%m-%d-%Y`
echo &quot;build date = &lt;$build_date&gt;&quot;
echo &quot;USER=$USER&quot;
echo &quot;HOME=$HOME&quot;
echo &quot;PWD=$PWD&quot;
echo &quot;WORKSPACE=$WORKSPACE&quot;
echo &quot;git config --global --list&quot;

git config --global --replace-all url.&quot;git@github.com:&quot;.insteadOf ssh://git@github.com/
git config --global --add url.&quot;git@github.com:&quot;.insteadOf git://git@github.com/

git config --global --list

# clear and reset folder if needed
rm -rf /scratch/syssw/automation/jenkins
workdir=&quot;/scratch/syssw/automation/jenkins&quot;
# workdir=&quot;/work/jenkins/meta_sifive_build/$FUSDK_MACHINE&quot;
mkdir -p $workdir
chmod a+w -R $workdir
cd $workdir

printenv

echo &quot;check repo&quot;
mkdir ~/bin
PATH=~/bin:$PATH
curl https://storage.googleapis.com/git-repo-downloads/repo &gt; ~/bin/repo
chmod a+x ~/bin/repo


echo &quot;load python3&quot;
module load python/python/3.8.1

echo &quot;fallback check&quot;
if ! python3 -c &apos;import sys; assert sys.version_info &gt;= (3,6)&apos; &gt; /dev/null; then
    echo &quot;python load failed&quot;
    export PATH=/sifive/tools/python/python/3.8.1/bin:$PATH
    python3 --version
fi

#
echo &quot;clean old meta-sifive-private&quot;
# rm -rf .repo ./* ./build
# rm -rf meta-sifive-private meta-clang meta-riscv meta-openembedded openembedded-core .repo

# clone FUSDK
echo ${META_SIFIVE_PRIVATE_BRANCH}
repo init -u git@github.com:sifive/meta-sifive-private -b $META_SIFIVE_PRIVATE_BRANCH -m $FUSDK_MANIFEST
repo sync

# OpenEmbedded-Core requires GCC 6 or newer to be available on the host system, download the pre-built one
./openembedded-core/scripts/install-buildtools -r yocto-3.2_M2 -t 20200729
. ./openembedded-core/buildtools/environment-setup-x86_64-pokysdk-linux




# Setting up Build Environment
. ./meta-sifive-private/setup.sh



##nbd-server port forwarding
#ssh -v -N -L ${NBD_server_port}:localhost:${NBD_server_port} ${NBD_server_name} &amp;
#ssh_port_forwarding_pid=$!
##

cd ${workdir}
git clone -b ${syssw_automation_tools_branch_name} git@github.com:sifive/syssw_automation_tools.git

##make nbd server
cd ${workdir}
wget https://sourceforge.net/projects/nbd/files/latest/download -O nbd-latest.tar.xz
tar -xvf nbd-latest.tar.xz
nbd_directory_name=`ls -d nbd-*`
cd ${nbd_directory_name}
./configure
make
./nbd-server -C ${workdir}/syssw_automation_tools/nbd-server-cfg/server.cfg &amp;
nbd_server_pid=$!
##

##make patchelf
cd ${workdir}
git clone git@github.com:NixOS/patchelf.git
cd patchelf
./bootstrap.sh
./configure
make
##


rm -rf $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE
mkdir -p $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE

mkdir -p $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE/
mkdir -p $workdir/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/
cp -f $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/Image*.bin           $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE/
cp -f $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/fw*.elf              $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE/
cp -f $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/demo*.ext4           $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE/
cp -f $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/demo*.conf           $workdir/build/tmp-glibc/deploy/images/$FUSDK_MACHINE/
cp -rf $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/qemu-native/  		$workdir/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/
cp -rf $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/sysroots			$workdir/build/tmp-glibc/

#tree $workdir/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/
mv $workdir/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/qemu-native/	$workdir/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/1.0-r1
mv $workdir/build/tmp-glibc/sysroots/											$workdir/build/tmp-glibc/sysroots-uninative/
#/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/1.0-r1/recipe-sysroot-native/usr/bin/qemu-system-riscv64


##run patchelf
set -x
qemu_interpreter=`${workdir}/patchelf/src/patchelf --print-interpreter ${workdir}/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/1.0-r1/recipe-sysroot-native/usr/bin/qemu-system-riscv64`
qemu_new_interpreter=`echo ${qemu_interpreter} |  sed &quot;s/.*\(build.*\)/${workdir}\/\1/&quot;`
${workdir}/patchelf/src/patchelf --set-interpreter ${qemu_new_interpreter} ${workdir}/build/tmp-glibc/work/x86_64-linux/qemu-helper-native/1.0-r1/recipe-sysroot-native/usr/bin/qemu-system-riscv64
set +x
##

rm $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_env
touch $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_env
echo test_id: $BUILD_ID &gt;&gt; $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_env
echo test_cases: $tests_to_run &gt;&gt; $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_env
echo test_machine: $FUSDK_MACHINE &gt;&gt; $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_env



cd ${workdir}/syssw_automation_tools/automation_tests
chmod 755 combine_tests.sh
set -x
./combine_tests.sh
result_of_combine_tests=$?

export qemu_config=`cat *_log | grep &quot;runqemu - INFO - Running&quot; | tail -1`

echo ${qemu_config}
for i in ${WORKSPACE}/*.result
do
        echo $i
        sed -i &quot;0,/^/i ${qemu_config}&quot; ${i}
done

mkdir -p $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_results
cp ${WORKSPACE}/*.result $NFS_Path/$Build_Sub_Path/$FUSDK_MACHINE/test_results


##kill nbd server
kill -9 ${ssh_port_forwarding_pid}
##
rm -rf /scratch/syssw/automation/jenkins/



echo &quot;overall situation: ${result_of_combine_tests}&quot;
exit ${result_of_combine_tests}</command>
          <configuredLocalRules/>
        </buildStep>
        <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.5"/>
      </buildStep>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildStepWithTimeout>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*result</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
      <followSymlinks>false</followSymlinks>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.0">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper plugin="ssh-agent@1.22">
      <credentialIds>
        <string>ad25d95a-4a30-4cc9-bda9-e836d51af0b9</string>
      </credentialIds>
      <ignoreMissing>false</ignoreMissing>
    </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.13"/>
  </buildWrappers>
</project>