<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Owner&lt;br&gt;&#13;
* Lewis Lu (lewis.lu@sifive.com)&lt;p&gt;&#13;
&#13;
Clean following directories (older than 90 days)&lt;br&gt;&#13;
* /work/jenkins/syssw/FPGA_test_agent/&lt;br&gt;&#13;
* /work/jenkins/syssw/QEMU_test_agent/&lt;br&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.7"/>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.33">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.6">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tiny_rhel8</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -ex
find /work/jenkins/syssw/fusdk-public-davidlt/fusdk-public-build -maxdepth 1 -mtime +90 -type d -exec rm -r {} \;
find /work/jenkins/syssw/FPGA_test_agent/ -maxdepth 3 -mindepth 3 -mtime +90 -type d -exec rm -r {} \;
find /work/jenkins/syssw/QEMU_test_agent/ -maxdepth 3 -mindepth 3 -mtime +90 -type d -exec rm -r {} \;
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>